@charset "UTF-8";

/*Typical Divice Breakpoints
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet:  768px até 992px
Desktop: 992px até 1200px
Telas Grandes: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) { /*Versão para tablets*/

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 80vw;
    }
    section#login > div#imagem{
        float: left; /*Essa connfiguração fala em que lado a div vai estar*/
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right; /*Essa connfiguração fala em que lado a div vai estar*/
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 950px;
    }

    section#login > div#imagem{
        float: right; /*Essa connfiguração fala em que lado a div vai estar*/
        width: 50%; /*Esse é a largura que ela vai preencher da section*/
        height: 100%; /*Essa é a altura que ela vai preencher da section*/
    }

    section#login > div#formulario{
        float: left; /*Essa connfiguração fala em que lado a div vai estar*/
        width: 50%; /*Essa é a altura que ela vai preencher da section*/
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}